@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@400;700&display=swap");

/* || RESET */
*,
*::after, /* Ensures that any content added via these pseudo-elements will also adhere to these styles */
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Raleway", sans-serif;
  --FF-HEADINGS: "Montserrat", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --BGCOLOR: #e2c3be;
  --BGCOLOR-FADE: #eeeadf;
  --BGIMAGE: linear-gradient(
    to bottom right,
    var(--BGCOLOR-FADE),
    var(--BGCOLOR)
  );
  --BODY-BGCOLOR: #fff;
  --BORDER-COLOR: #333;
  --FONT-COLOR: #5a5959;

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  background-image: var(--BGIMAGE);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1,
h2,
h3 {
  font-family: var(--FF-HEADINGS);
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.5;
}

a {
  color: #007b7f;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #005b5b;
}

/* a:focus {
    outline: 2px solid #005B5B;
    background-color: rgba(0, 86, 179, 0.1); 
} */

a:visited {
  color: #005b5b;
}

/* || PROFILE CARD */
.profile-card {
  background-color: var(--BODY-BGCOLOR);
  max-width: 360px;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.profile-card .banner {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card .banner .profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  transform: translateY(30%);
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile-card .banner .profile-pic img {
  object-fit: cover;
}

.profile-card .banner .profile-pic:hover {
  transform: translateY(30%) scale(1.2);
}

.profile-card-body {
  position: relative;
  padding: 90px 30px 30px;
}

.profile-card .title {
  padding-bottom: 1.25em;
  color: var(--FONT-COLOR);
}

.bio {
  /* text-align: justify; */
  padding-bottom: 1.25em;
}

.location {
  padding-bottom: 1.25em;
}

.email {
  padding-bottom: 1.5em;
}

.fa-solid {
  padding-right: 1em;
}

.fa-regular {
  padding-right: 0.8em;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  padding-bottom: 1.25em;
}
